<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <h1>タスク一覧</h1>
    <ul class="list-unstyled">
      <% @tasks.each do |task| %>
        <li class="media mb-3">
          <%= link_to task.id, task %> : Status: <%= task.status %>  Task: <%= task.content %>
       </li>
      <% end %>
      <%#= paginate tasks %>
    </ul>
    <%= link_to '新規タスクの追加', new_task_path %>
    <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  <%= link_to 'Login', login_path, class: 'nav-link' %>

<% end %>